/*div{border:1px dotted black;}*/
body{
margin:0 auto;
padding:10px;
font:76% Verdana,Tahoma,Arial,sans-serif;
background:#f4f4f4 url(bg.gif) top center repeat-y;
color:#303030;
/*border:1px dotted blue;*/
}

h3{
font-size:1.3em;
margin:0 0 10px 0;
}

h1 {
color: #996666;
}

h2 {
color: #CC6633;
font-size:80%;
}

a{
color:#aa0000;
}

a:hover{
text-decoration:underline;
color:#552222;
}

#wrap{
background:#dddddd;
color:#303030;
margin:0 auto;
width:1000px;
}

#header{
background:#eeeeee;
clear:both;
margin:0 0 0 0;
padding:30px;
height:40px;
}

#header h1{
color:#996666;
width:900px;
margin:0 0 0 0;
text-align:center;
}

#header p{
width:500px;
float:right;
text-align:center;
color:#a0a0a0;
margin:0 0 10px 0;
font-size:0.8em;
line-height:1.2em;
background-color:inherit;
}




#avmenu{
clear:left;
float:left;
width:150px;
margin:50px 0 10px 0;
padding:0;
font-size:0.9em;
}

#avmenu ul{	
list-style:none;
width:150px;
margin:0 0 20px 0;
padding:5px;
font-size:1.1em;
}	

#avmenu li{
margin-bottom:4px;
}

#avmenu li a{
font-weight:bold;
height:20px;
text-decoration:none;
color:#dddddd;
display:block;
padding:0px 5px 7px 5px;
background:#552222;
border-left:4px solid #eeeeee;
border-right:4px solid #eeeeee;
}	
	
#avmenu li a:hover{
background:#dddddd;
color:#552222;
padding:0px 5px 7px 5px;
border-left:4px solid #552222;
border-right:4px solid #552222;
}

.announce{
margin:100px 10px 10px 5px;
padding:10px;
width:130px;
color:#dddddd;
background-color:#552222;
line-height:1.3em;
}

#extras{
color:#552222;
background-color:#eeeeee;
float:right;
width:120px;
height:120px;
margin:50px 5px 10px 10px;
padding:0;
font-size:0.9em;
line-height:1.5em;
}

#extras p{
text-align:center;
margin:0 0 1.5em 0;
}

.logos{
color:#552222;
background-color:#eeeeee;
float:right;
width:120px;
height:120px;
margin:50px 0 10px 0;
padding:0;
font-size:0.9em;
line-height:1.5em;
}



#content{
margin:20px 130px 20px 160px;
border-left:5px solid #eeeeee;
border-right:5px solid #eeeeee;
padding:0 10px 0 10px;
line-height:1.6em;
text-align:left;
}

#content h2{
font-size:1.5em;
margin:0 0 0.5em 0;
}

#content img{
padding:1px;
display:inline;
background:#cccccc;
color:#303030;
border:4px solid #f0f0f0;
}



a img{
border:0;
}

#footer{
clear:both;
margin:0 auto;
padding:10px 0 20px 0;
border-top:4px solid #f0f0f0;
width:1000px;
text-align:center;
color:#808080;
font-size:0.9em;
}

#footer a{
color:#808080;
text-decoration:none;
}

#footer a:hover{
text-decoration:underline;
}

.left{
margin:10px 10px 5px 0;
float:left;
}

.right{
margin:10px 0 5px 10px;
float:right;
}

.textright{
text-align:right;
}

.center{
text-align:center;
}

.small{
font-size:0.8em;
}

.bold{
font-weight:bold;
}

.hide{
display:none;
}

.style1 {color: #996666}
.style2 {color: #CC6633}
.style3 {
	font-size: medium;
	color: #996666;
}
.style4 {
	font-weight: bold;
	color: #996666;
	font-size: medium
}
.style10 {font-size: medium; font-weight: bold; color: #CC6666; }

.style1ttt {color: #996666}

.style6 {font-weight: bold; color: #996666; margin-left:10px;text-align:justify}

.dir {font-weight: bold;color: black;  }

 th { background-color: #CCCCCC; } 
 tr:hover { background-color: #d4d4d4; }